<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{site_settings.favicon.url}}" type="image/png">
    <link rel="stylesheet" href={% static 'css/bootstrap-grid.min.css' %}>
    <link rel="stylesheet" type="text/css" href="{% static '/css/scss/main.css' %}" >
    <script src="{% static 'js/jquery.js' %}"></script>
    <title>{{site_settings.site_name}}</title>
    {% block styles %}{% endblock styles %}
</head>
<body>
{% include 'includes/header.html' %}
    <section>
    <div class="breadcrumbs">
        {% block crumbs %}{% endblock crumbs %}
    </div>
    
    <div class="page-title">
        {% block page_title %}{% endblock page_title %}
    </div>
    
    <div class="page-content">
        {% block content %}{% endblock content %}
    </div>
    {% comment %} {% block content %}{% endblock content %} {% endcomment %}
    </section>
    <footer class="footer">
    </footer>

    {% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>