<div class="pagination">
    <span class="step-links">
        {% if PAGIN.prev %}
            <a href="?page={{ PAGIN.prev }}" class='page active-page' data-href="{{ PAGIN.prev }}"><</a>
        {% endif %}

        {% if PAGIN.first %}
            <a class="page active-page" href="?page={{ PAGIN.first }}" data-href="1">1</a>
            <a class="page ">...</a>
        {% endif %}

        {% for page in PAGIN.pages %}
            {% if page == PAGIN.page %}
                <a class="page active" id="current-page" data-href={{ page }}>{{ page }}</a>
            {% else %}
                <a href="?page={{page}}" class="page active-page" data-href="{{ page }}">{{page}}</a>     
            {% endif %}
        {% endfor %}


        {% if PAGIN.next %}
            <a href="?page={{ PAGIN.next }}" class='page active-page' data-href="{{ PAGIN.next }}">></a>            
        {% endif %}
    </span>
</div>
