{% extends 'base.html' %}
{% load static %}

{% block crumbs %}
    <div class="crumbs">
        <a href="{% url 'index_page' %}" class="crumb">Главная</a>
        <a href="{% url 'catalog:category_list' %}" class="crumb">Каталог</a>
        {% if category.get_ancestors %}
            {% for parent in category.get_ancestors %}
                <a href="{{parent.get_absolute_url}}" class="crumb">{{parent.title}}</a>
            {% endfor %}
        {% endif %}
        <a href="" class="crumb">{{category.title}}</a>
    </div>
{% endblock crumbs %}

{% block page_title %}
    <span class="content-title">
        <span class="product-list-title">{{ category.title }}</span>
        {% if request.GET.value %}
            <span class="product-amount-title">{{ product_list.count }} товаров</span>
        {% else %}
            <span class="product-amount-title"><span id="total">{{ total }}</span> товаров</span>
        {% endif %}
        
    </span>
{% endblock page_title %}

{% block content %}
<div class="product-list-content">
    <div class="filter-wrapper">
        <div class="filter-set">
            <span class="filter-title">{{category.title}}</span>
            <div class="children">
                {% if category.get_children %}
                    {% for child in category.get_children %}
                        <a href="{{ child.get_absolute_url }}" class="child-category">{{child.title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="inactive">Нет дочерних категорий</span>
                {% endif %}
            </div>
        </div>
        {% include 'catalog/includes/filters.html' %}
    </div>
    <div class="products-content">
        <div class="products-content__sorting">
            <form action="{{request.path}}" id="display-type">
                {% csrf_token %}
                <button type="submit" name='display_type' value='wide' class="display-btn wide {% if not display_tile %}active{% endif %}">Список</button>
                <button type="submit" name='display_type' value='tile' class="display-btn tile {% if display_tile %}active{% endif %}">Плитка</button>
            </form>
        </div>
        <div class="products-content__list {% if display_tile %}row{% else %}column{% endif %}" >
            {% for product in products %}
                {{ product }}
            {% endfor %}
        </div>
        <div class="pagination">
            {{ pagination }}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock extra_scripts %}
