.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inter;
    &__item {
        margin-bottom: 20px;
        .title {
            font-size: 18px;
            font-weight: 600;
            color: $textColor;
        }
        .block{
            &__item {
                margin-left: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }
    }
    &__text {
        .salary {
            color: $textHoverColor;
            font-size: 18px;
            font-weight: 600;
            display: inline;
        }
    }
}

.vacancy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid $textColor;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    position: relative;
	font-weight: 700;
	line-height: 1.333;
	transition: .4s ease-out;
    color: black;
    margin-bottom: 15px;
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &.hit {
        border-color: $textHoverColor !important;

    }
    &:before {
		position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #313D49;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}
    &:hover {
        box-shadow: 1px 1px 14px $textHoverColor;
		span {
			color: $textHoverColor;
            z-index: 1000;
		}
		&:before {
			transform: scaleY(1);
		}
	}
}
