.product{
    &-form{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    &-controls {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrapper{
        width: 1200px;
        display: flex;
        flex-direction: column;
    }
    &__main{
        display: flex;
        flex-direction: row;
    }
    &__image{
        border: 1px solid #DAE0E6;
        box-sizing: border-box;
        border-radius: 4px;
        object-fit: contain;
        margin-right: 30px;
        img{
            width: 570px;
            height: 427.5px;
        }
    }
    &-info{
        width: 500px;
        &__code{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: $grayText;
            display: block;
        }
        &__title{
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: $textColor;
            display: block;
        }
        &__prices{
            .price{
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 35px;
                line-height: 42px;
            }
        }
        &__sn{
            padding: 16px 50px;
            color: white;
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            height: 50px;
            background: #313D49;
            border-radius: 4px;
            cursor: pointer;
        }
        &__inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 25px;
        }
    }
    &__extra{
        display: flex;
        flex-direction: row;
    }
    &__description{
        margin-top: 90px;
        margin-bottom: 50px;
        padding: 30px 40px;
        width: 870px;
        min-height: 491px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        .title{
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: $textColor;
            display: block;
        }
        .description{
            margin-top: 40px;
        }
        &-content{
            margin-top: 14px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 21px;
            color: $textColor;
        }
        
    }
    &__attribute{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
        border-bottom: 1px solid $borderColor;
        &-title{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: $textColor;
        }
        &-value{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: $grayText;
            width: 30%;
        }
    }
}

.back-to-catalog{
    width: 178px;
    height: 45px;
    padding: 10px 10px 14px 31px;
    border: 1px solid $borderColor;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $textColor;
    &:hover{
        color: white;
        background-color: $textHoverColor;
    }
}
