.slider {
    &-wrapper {
        width: 100%;
        height: 695px;
        align-self: center;
        // position: relative;
    }
    &-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__title {
            position: absolute;
            left: 100px;
            bottom: 100px;
            z-index: 10001;
            font-family: Inter;
            line-height: 56px;
            font-weight: 700;
            font-size: 54px;
            color: #F4F4F4;
            text-shadow: 3px 0 5px $grayText;
            &:visited {
                color: #F4F4F4;
            }
        }
    }
}