<div class="order-part">
    <span class='order-part__title'>
        1. Личные данные
    </span>
    <div class="order-part__item">
        <input type="text" placeholder='ФИО' name='full_name' class='order-part__input' value=" {{ request.user.last_name }} {{ request.user.first_name }}">
        <div class="error"></div>
    </div>
    <div class="order-part__item">
        <input type="text" placeholder='Телефон' name='phone' class='order-part__input' id="phone">
        <div class="error"></div>
    </div>
    <div class="order-part__item">
        <input type="email" placeholder='Email' name='email' class='order-part__input' value="{{ request.user.email }}">
        <div class="error"></div>
    </div>
</div>
<div class="order-part">
    <span class='order-part__title'>
        2. Доставка
    </span>
    <div class="order-part__wrapper">
        {% for item in shippings %}
            <label for="{{ item.id }}" class="order-part__radio">
                <input type="radio" name="shipping" id="{{item.id}}" value="{{item.id}}" 
                    {% if forloop.first %}checked{% endif %} 
                    class="radio-btn-shipping {% if item.is_calculated %}calculate{% endif %}">
                {{item.title}}
            </label>
        {% endfor %}
    </div>
</div>
<div class="order-part">
    <span class='order-part__title'>
        3. Оплата
    </span>
    <div class="order-part__wrapper">
        {% for item in payments %}
            <label for="{{ item.id }}" class='order-part__radio'>
                <input type="radio" name="payment" id="{{item.id}}" value="{{item.id}}" {% if forloop.first %}checked{% endif %} class='radio-btn-payment'>
                {{item.title}}
            </label>
        {% endfor %} 
    </div>
</div>
<div class="order-part disabled address">
    <span class="order-part__title">
        4. Доставка
    </span>
    <div class="order-part__item">
        <div class="item-input">
            <input type="text" autocomplete="off" placeholder='Адрес доставки' name='address' class='order-part__input' >
            <button type='button' class="calculate-shipping" data-href="{% url 'shop:calculate_shipping' %}">Рассчитать доставку</button>
        </div>
        <div class="suggestions-result hidden"></div>

        <div class="price-value hidden">Стоимость доставки <span class="value"></span></div>
    </div>
</div>
<button class="sn-order-form" type='submit'>
    Оформить заказ
</button>