{% extends 'base.html' %}
{% load static %}

{% block crumbs %}
    <div class="crumbs">
        <a href="{% url 'index_page' %}" class="crumb">Главная</a>
        <a class="crumb">Корзина</a>
    </div>
{% endblock crumbs %}

{% block page_title %}
    <span class="content-title">
        <span class="product-list-title">Корзина</span>
    </span>
{% endblock page_title %}

{% block content %}
    <div class="cart-content" {% if not cart.get_items %}style='display: none;'{% endif %}>
        <table class="items-list">
            <thead>
                <tr>
                    <td>Ваш заказ</td>
                    <td>Цена</td>
                    <td>Количество</td>
                    <td>Сумма</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class='table-body'>
               {% for item in cart.get_items %}
                   {% include 'shop/includes/cart_item.html' with item=item %}
               {% endfor %}
            </tbody>
        </table>
        <span class="cart-total-price">
            Итого: <span class='cart-total'>{{cart.total}} ₽</span>
        </span>
        <a href="{% url 'shop:order_register' %}" class="order-create">Сделать заказ</a>
    </div>
    <div class="cart-empty" style={% if cart.get_items %}'display: none;'{% else %}'display:flex;'{% endif %}>
        <div class="empty-info">
            <img src="{% static 'image/empty-cart.svg' %}" alt="cart is empty">
            <span class="empty-title">
                <h1>Ваша корзина пуста</h1>
                <p>Для выбора товаров по параметрам перейдите в каталог</p>
            </span>
        </div>
        <a href="{% url 'catalog:category_list' %}" class='to-catalog'>
            Перейти в каталог
        </a>
    </div>
{% endblock content %}


{% block extra_scripts %}
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock extra_scripts %}
