{% extends 'base.html' %}
{% load static %}

{% block crumbs %}
    <div class="crumbs">
        <a href="{% url 'index_page' %}" class="crumb">Главная</a>
        <a class="crumb">Регистрация заказа</a>
    </div>
{% endblock crumbs %}

{% block page_title %}
    <span class="content-title">
        <span class="product-list-title">Оформление заказа</span>
    </span>
{% endblock page_title %}

{% block content %}
    <div class="order-content">
        <div class="order-info">
        <form action="{% url 'shop:order_create' %}">
            {% include 'shop/includes/order_form.html' %}
        </form>
        </div>
        <div class="order-products">
            {% for item in cart.get_items %}
                <div class="order-products__item">
                    <p>Артикул {{item.product.code}}</p>
                    <h2>{{item.product.title}}</h2>
                    <h3>({{item.amount}}шт.)</h3>
                    <h1>{{item.total}}  ₽</h1>                    
                </div>
            {% endfor %}
            <h3>Итого: </h3>
            <h1>{{cart.total}}  ₽</h1>

        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock extra_scripts %}