{% extends 'users/user_base.html' %}

{% load static %}

{% block user_password %} active{% endblock  %}


{% block user_content %}

    <div class="account-wrapper">
        <div class="account-wrapper__title">Смена пароля</div>
        <div class="success-note">Ваш пароль успешно изменен</div>
        <form class="account-wrapper__form" action="{% url 'account:change_password' %}">

            <div class="form-row">
                <label for="old_password" class="form-row__title required">Старый пароль</label>
                <div class="form-row__input">
                    <input type="password" name="old_password" id="old_password">
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-row">
                <label for="password" class="form-row__title required">Старый пароль</label>
                <div class="form-row__input">
                    <input type="password" name="password" id="password">
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-row">
                <label for="password_confirmation" class="form-row__title required">Повторите пароль</label>
                <div class="form-row__input">
                    <input type="password" name="password_confirmation" id="password_confirmation">
                    <div class="error"></div>
                </div>
            </div>

            <button type='submit' class='sn-form'>Сохранить</button>

        </form>
    </div>

{% endblock  %}
