{% extends 'base.html' %}

{% load static %}

{% block crumbs %}
    <div class="crumbs">
        <a href="{% url 'index_page' %}" class="crumb">Главная</a>
        <a class="crumb">Авторизация</a>
    </div>
{% endblock crumbs %}

{% block page_title %}<span class="content-title">Авторизация</span>{% endblock page_title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <script>
            window.location.href = "{% url 'account:profile' %}";
        </script>
    {% endif %}
    <div class="user-content">
        <form method="POST" class="user-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="user-field">
                    <label class="user-title required" for="{{ field.auto_id }}" >{{ field.label }}</label>
                    <div class="user-field__input">
                        {{ field }}
                        <div class="error"></div>
                    </div>
                </div>
            {% endfor %}
            <span class="user-field display-errors">
                Проверьте выделенные поля!
            </span>
            <div class="user-field">
                <button type="submit" class='sn-form'>Войти</button>
                <a href="{% url 'account:registration' %}" class="user-form__link">У вас еще нет аккаунта?</a>
            </div>
            
        </form>
    </div>
    
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/user.js' %}"></script>
{% endblock extra_scripts %}