{% extends 'users/user_base.html' %}

{% load static %}

{% block change_data %} active{% endblock  %}


{% block user_content %}

    <div class="account-wrapper">
        <div class="account-wrapper__title">Личные данные</div>
        <div class="success-note">Ваши данные успешно сохранены</div>
        <form class="account-wrapper__form" action="{% url 'account:profile' %}">
            <div class="form-row">
                <label for="username" class="form-row__title required">Никнейм</label>
                <div class="form-row__input">
                    <input type="text" name="username" id="username" value="{{ request.user.username }}">
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-row">
                <label for="email" class="form-row__title required">Почтовый адрес</label>
                <div class="form-row__input">
                    <input type="text" name="email" id="email" value="{{ request.user.email }}">
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-row">
                <label for="first_name" class="form-row__title ">Имя</label>
                <div class="form-row__input">
                    <input type="text" name="first_name" id="first_name" value="{{ request.user.first_name }}">
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-row">
                <label for="last_name" class="form-row__title ">Фамилия</label>
                <div class="form-row__input">
                    <input type="text" name="last_name" id="last_name" value="{{ request.user.last_name }}">
                    <div class="error"></div>
                </div>
            </div>

            <button type='submit' class='sn-form'>Сохранить</button>

        </form>
    </div>

{% endblock  %}