{% extends 'base.html' %}

{% load static %}

{% block crumbs %}
    <div class="crumbs">
        <a href="{% url 'index_page' %}" class="crumb">Главная</a>
        <a class="crumb">Личный кабинет</a>
    </div>
{% endblock crumbs %}

{% block page_title %}
    <span class="content-title">Личный кабинет</span>
{% endblock page_title %}  


{% block content %}
<div class="user-content">
    <div class="user-menu">
           <span class="user-menu__name">Личный кабинет <strong>{{request.user.username}}</strong></span>
           <div class="user-options">
                <a class="user-options__item">
                    Личные данные
                </a>
                <a class="user-options__item">
                    Ваши заказы
                </a>
                <a class="user-options__item">
                    Сменить пароль
                </a>
                <a class="user-options__item">
                    Выход
                </a>
           </div>
    </div>
</div>
    
{% endblock content %}